/* Logins */

.seccion-login{
    height: 57vh; /* si quiero q complete la vista */
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #000;
    background-color: #E6E7E8;
}
.contenedor-logins{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    column-gap: 12rem;

}
.logins-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logins-flex-icon{
    margin-bottom: 1.5rem;
    height: 80px;
    width: 80px;
}
.logins-flex-icon1{
    margin-bottom: 1.5rem;
    height: 90px;
    width: 90px;
}
.logins-flex-p{
    text-align: center;
    font-size: 18px;
}
.logins-flex-a{
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    width: 200px;
    background-color: #0B151E;
    padding: 7px;
    text-align: center;
    font-size: 17px;
    transition: .4s ease-in-out;
}
.logins-flex-a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #0b151ebc;
}
.img-login{
    width: 100px;
    height: 100px;
    margin: 1rem;
}