@media screen and (max-width:1023px){

        main{
            overflow: hidden;
        }

        // Header

        header{
            justify-content: flex-start;
            width: 100%;
        }
    
        .navbar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            text-align: start;
        }
        .contenedor-icons-cuentas{
            display: flex;
            justify-content: center;
            margin: 0;
            height:46px ;
            width: 142px;
        }
        .contenedor-icons-cuentas li a {
            font-size: 40px;           
        }
        .navbar li{
            padding: 0.5rem;
            margin: 0;
        }
        .navbar li a {
            color: #fff;
            font-size: 22px;
            text-align: justify;
            padding: 1rem;

        }
        .contenedor-cuentas{
            display: none;
        }
        .span-icon-cuenta{
            display: block;
            font-size: 2rem;

        }
        .boton{
            color:black ;
        }

        .menu{
            display: block;
            position: absolute;
            right: 0;
            margin-right: 1rem;
            border: transparent;
            color: #000;
        }
        #lateral {
            display: block;
            background-color: #0B151E;
            width: 30%;
            height: 100vh;
    
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100 ;
    
            transition: right 1s;
        }
        #lateral:target{
            right: 0;
    
            color: #fff;
        }
        .span-icon{
            font-size: 2.5rem;
        }
        .span-icono-close{
            font-size: 24px;
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
        }

        // home

        .texto-home{
            font-size: 45px;
        }
        .p-home{
            font-size: 24px;
        }

        // Como funciona

        .flex-column1{
            height: 100%;
        }
        .titulo-grid{
            margin: 0;
            padding-top: 1rem;
            font-size: 34px;
        }
        .titulo-grid2{
            font-size: 26px;
        }
        .grid-1 {
            column-gap: 0.3rem;
            padding: 0;
            margin-top: 2rem;
        }
        .img1{
            height: 150px;
            width: 150px;
        }
        .flex-column1 h2{
            padding: 1rem;
        }
        .grid-hijo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contenedor-icon-text{
            height: 100%;
        }

        .p1{
            font-size: 18px;
            margin-top: 1rem;

        }
        .p2{
            font-size: 17px;
        }

        // Nosotros

        #Nosotros{
            height: 100%;
            padding: 1rem;
        }
        .contenedor-nosotros{
            margin: 0;
            padding: 0;
        }
        .titulo-nosotros{
            font-size: 34px;
            margin: 0;
        }
        .p-nosotros{
            font-size: 17px;
            margin-top: 0;
        }
        .grid-nosotros{
            margin-top: 70px;
            text-align: center;
            height: 100%;
        }

        // publicidad

        .seccion-publicidad{
            height: 50px;
        }
        .contenedor-icon-text{
            overflow: hidden;
        }
        .grid-2{
            height: 100%;
            column-gap: 0.5rem;
        }
        .titulo-publicidad{
            font-size: 22px;
        }
        .texto-publicidad{
            font-size: 24px;
        }

        // Seccion login

        .seccion-login{
            height: 100%;
            padding: 1rem;
        }
        .contenedor-logins{
            column-gap: 1rem;
        }
        .img-login{
            width: 70px;
            height: 70px;
        }

        // Oficinas

        .seccion-oficinas{
            height: 100%;
            margin-bottom: 3rem;
        }
        .titulo-oficinas{
            font-size: 32px;
            margin-bottom: 1rem;
        }
        .iframe{
            height: 50%;
        }
        .grid-columna h2{
            margin-top: 1.5rem;
            font-size: 26px;
        }
        .seccion-oficinas{
            padding-bottom: 2rem;
        }

        //  Contacto

        .seccion-form{
            height: 100%;
        }
        .titulo-contacto{
            font-size: 32px;
        }
        .contenedor-form-text h4{
            font-size: 20px;
        }

        // Cotizador

        .contenedor-cotizador-grid{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
            row-gap: 3rem;
            margin: 0;
            padding: 0;
        }
        .titulo-cotizador{
            font-size: 28px;
            margin-bottom: 1.5rem;
        }
        .cotizador p{
            font-size: 16px;
        }
        .contenedor-cotizador1{
            height: 100%;
            width: 100%;
            margin: 0;
            margin-top: 1rem;
        }
        .boton-cotizar{
            width: 100%;
        }
        .divs-valores{
            flex-direction: column;
            justify-content:flex-start;
            align-items:center;
            text-align: center;
        }
        .contenedor-muestroDatos{
            padding: 0;
            margin-bottom: 3rem;
        }
        .div-muestrodatos{
            padding: 0.5rem;
        }
        .mover-input{
            transform: none;
        }
        .botonCotizador{
            width: 94%;
        }
        .nota{
            font-size: 16px;
            text-align: justify;
        }

        // Footer 

        footer p {
            font-size: 16px;
            margin-left: 0.5rem;
        }
        .img-footer{
            width: 35px;
            height: 35px;
            margin: 0;
        }

}