/* Oficinas */
.titulo-oficinas{
    font-size: 36px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.seccion-oficinas{
    padding-bottom: 5rem;

}
.grid {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
    column-gap: 1rem;
    padding-top: 2rem;
    // padding-bottom: 3rem;
}
.grid-columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-columna h2{
    margin-top: 2rem;
}


.iframe{
    transition: all 400ms ease; 
    width: 70%;
    height: 300px;
    border-radius: 8px;
}

.iframe:hover{
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.356);
}
.flex p {
    font-size: 17px;
}
.flex a {
    font-size: 17px;
}